table {
    width: 75vw;
    height: 25vh;
    /* margin-left: 20%; */
    background: white;
    /* color: black; */
    text-align: center;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    text-align: center;
    font-size: 1.1rem;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100%;
}

mat-paginator {
    width: 100%;
    margin-left: 15%;
}