table {
    width: 65vw;
    height: 65vh;
    background: white;
    /* color: black; */
    text-align: center;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    text-align: center;
    font-size: 1.1rem;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}