* {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    width: 85vw;
    height: 65vh;
    /* margin-left: 20%; */
    background: white;
    /* color: black; */
    text-align: center;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    text-align: center;
    font-size: 1.1rem;
}

h1 {
    font-family: 'Roboto', sans-serif;
    /* text-align: center; */
    width: 100%;
}

mat-paginator {
    width: 100%;
    margin-left: 20%;
}