<br>
<div *ngIf="messages.length > 0; else nomessages">
    <table *ngFor="let m of messages">
        <td  class="table-msg">
          <p class="asunto">Campaña</p>
        </td>
        <td class="table-msg">
          <p class="asunto">Mensajes de {{m.area}}</p><br/>
          <p class="texto">{{m.text}}</p>
          <button (click)="deleteMessage($event, m)">
            Eliminar
          </button>
        </td >
    </table>
</div>

<br>

<ng-template #nomessages>
    <p>No hay mensajes disponibles</p>
</ng-template>


<button routerLink="/clients" routerLinkActivate='active'>Continuar</button>
