div {
    width: 100vw;
    margin: 0;
    padding: 0;
}

div ul li {
    list-style: none;
}

div ul li button {
    background: red;
}

div[_ngcontent-pbx-c5] ul[_ngcontent-pbx-c5] li[_ngcontent-pbx-c5] {
    color: green;
}