div {
    width: 70vw;
    margin: 0;
    padding: 0;
}

div ul li {
    list-style: none;
}

div ul li button {
    background: red;
}
table {
  background: #F5F5F5;
  /*display: flex;*/
  justify-content: center;
}
.table-msg {
    width: 70vw;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border: 1px solid #4E4044;
    text-align: justify;
}

.btn-delete {
    width: 40vw;
    text-align: center;
    margin-bottom: 2rem;
}

.asunto {
    /*font-weight: bold;*/
    font-size: 14px;
    border-bottom: 1px solid #4E4044;
    color: #4E4044;
    text-align: center;
    display: flex;
}

.texto {
    font-size: 14px;
    text-align: justify;
    padding: 2%;
}


/*table {*/
/*  width: 100%;*/
/*}*/


.btn {
  background: #7F7F7F;
  color: white;
  border: none;
}

.btn2 {
  background: red;
  color: white;
  border: none;
}

h1 {
  text-align: center;
}
