<br>



<div class="container" *ngIf="clients$ | async as clients; else loading">
    <table class="table client-table ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Estado</th>
                <th scope="col">Servicio contratado</th>
                <th scope="col">Calificación</th>
                <th scope="col">Antiguedad</th>
            </tr>
        </thead>
        <tbody *ngFor="let client of clients">
            <tr>
                <th scope="row">{{client.id}}</th>
                <td>{{client.nameClient}}</td>
                <td>{{client.age}}</td>
                <td>{{client.state}}</td>
                <td>{{client.serviceType}}</td>
                <td>{{client.rating}}</td>
                <td>{{client.antiguedad}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #loading>
    <div class="text-center spinner">
        <strong>Loading...</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>
</ng-template>


<app-clients></app-clients>